{% extends 'products/base.html' %}


{% block body %}

	<div class="container my-5" style=" background-color: #f8f9fa;">

        <div class="row">
        	<h5>Login Here</h5>
    	</div>

        <div class="row">

          <form action="/login" method='post'>
          	{% csrf_token %}
            <div class="form-group">
              	<label for="">Username</label>
                <input type="text" class="form-control" id="" placeholder="Enter Your Username" name="{{form.username}}">
            </div>

            <div class="form-group">
              	<label for="">Password</label>
                <input type="password" class="form-control" id="" placeholder="Enter Your Password" name="{{form.password}}">
            </div>

            <button type="submit" class="btn btn-outline-success mt-2" id="">Login</button>
            
          </form>

        </div>
	</div>

{% endblock %}

